@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Playfair+Display&family=Signika+Negative:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@1,300&display=swap');


.home_img {
    height: 400px;
   
}

.intro {
    color: #646060;
    font-size: 22px;
    /* font-family: 'Luxurious Roman', cursive;
    font-family: 'Playfair Display', serif; */
    font-family: 'Signika Negative', sans-serif;

}

.redirect_info{
    font-family: 'IBM Plex Serif', serif;
    font-size: 40px;
}

.logContainer {
    display: flex;
    flex-direction: column;
}




.jobserarch{
    height: 15px;
    padding-left: 5px;


    /* position: absolute; */
    

    
}
.btnsearch,.btnpost{


display: flex;
flex-direction: row;
align-items: end;

}
.home_log {
    margin-top: 100px;
}

.btn_link {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-top: 100px;
}



footer {
    position: absolute;
    bottom: 5px;
}

.Homecontainer {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}