*{
}

.nav2_logo{
    position: absolute;
    top: 0px;
    height: 46px;
}

.userlogo :hover{
    cursor: pointer;
}
.userlogo{
    position: absolute;
    height: 46px;

    /* margin-left: 92px; */
    color: #000;
    border-radius: 46%;
}
.rigth{
    display: flex;
    margin-top: -8px;
    float: inline-end;
    margin-left: 82%;
    /* justify-content: flex-end; */
    /* width: 90vw; */
    

}



.nav2Container{
    background-color: #4973ee;
   /* padding-left: 50px; */
}

.navbar {
    overflow: hidden;
    background-color: #4973ee;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    /* margin-left: 50%; */
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }

  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }